<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydxsj.ydsoldnote.mapper.DataManagementMapper">

    <!-- List<CarType> getCarType();  -->
    <select id="getCarType" resultType="carType">
        select brand,group_concat(subsidiary) as subsidiary from yd_receipts_car_type group by brand;
    </select>

    <!-- List<SellType> getSellTypes();   -->
    <select id="getSellTypes" resultType="sellType">
        select * from yd_sold_note.yd_receipts_sell_type
    </select>

    <!-- List<Addition> getAdditions();   -->
    <select id="getAdditions" resultType="addition">
        select * from yd_sold_note.yd_receipts_addition
    </select>

    <!-- SellType getSellTypeById(Integer sellType);   -->
    <select id="getSellTypeById" resultType="sellType" >
        select * from yd_sold_note.yd_receipts_sell_type where id = #{sellType}
    </select>

    <!--  List<Addition> getAdditionsById(Integer[] additionIds);  -->
    <select id="getAdditionsById" resultType="addition">
        select * from yd_sold_note.yd_receipts_addition where id in
        <foreach collection="additionIds" item="additionId" open="(" separator="," close=")" index="index" >
            #{additionId}
        </foreach>
    </select>
</mapper>
