<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydxsj.ydsoldnote.mapper.DataManagementMapper">

    <!-- List<CarType> getCarType();  -->
    <select id="getCarType" resultType="carType">
        select brand,group_concat(subsidiary) as subsidiary from yd_receipts_car_type group by brand;
    </select>

    <!-- List<SellType> getSellTypes();   -->
    <select id="getSellTypes" resultType="sellType">
        select * from yd_sold_note.yd_receipts_sell_type
    </select>

    <!-- List<Addition> getAdditions();   -->
    <select id="getAdditions" resultType="addition">
        select * from yd_sold_note.yd_receipts_addition
    </select>

    <!-- SellType getSellTypeById(Integer sellType);   -->
    <select id="getSellTypeById" resultType="sellType" >
        select * from yd_sold_note.yd_receipts_sell_type where id = #{sellType}
    </select>

    <!--  List<Addition> getAdditionsById(Integer[] additionIds);  -->
    <select id="getAdditionsById" resultType="addition">
        select * from yd_sold_note.yd_receipts_addition where id in
        <foreach collection="additionIds" item="additionId" open="(" separator="," close=")" index="index" >
            #{additionId}
        </foreach>
    </select>

    <!-- List<Channel> getChannelByProvince(@Param("provinces") List<String> provinces);   -->
    <select id="getChannelByProvince" resultType="channel" >
        select * from yd_sold_note.yd_receipts_channel where province in
        <foreach collection="provinces" item="province" open="(" separator="," close=")" index="index" >
            #{province}
        </foreach>
    </select>

    <!-- Integer addChannel(@Param("channel") Channel channel);   -->
    <insert id="addChannel" useGeneratedKeys="true" keyProperty="id">
        insert into yd_sold_note.yd_receipts_channel (province, city, channel_name, site, status, create_id)
        values (#{channel.province},#{channel.city},#{channel.channelName},#{channel.site},#{channel.status},#{channel.createId})
    </insert>

    <!-- Channel getChannelById(int id);   -->
    <select id="getChannelById" resultType="channel">
        select * from yd_sold_note.yd_receipts_channel where id = #{id}
    </select>

    <!--  Integer updateChannel(@Param("channel") Channel channel1);  -->
    <select id="updateChannel">
        update yd_sold_note.yd_receipts_channel set province = #{channel.province},city = #{channel.city},channel_name = #{channel.channelName},site = #{channel.site}
        where id = #{channel.id}
    </select>

    <!--  List<EquipmentMsg> getEquipmentMsg();  -->
    <select id="getEquipmentMsg" resultType="equipmentMsg">
        select * from yd_sold_note.yd_receipts_equipment_msg
    </select>

    <!--  List<InventoryMsg> getInventoryMsgByTPId(@Param("id") Integer id);  -->
    <select id="getInventoryMsgByTPId" resultType="inventoryMsg">
        select * from yd_sold_note.yd_receipts_equipment_inventory where third_party_terrace_id = #{id}
    </select>

    <!--  EquipmentMsg getEquipmentMsgById(@Param("id") Integer equipmentMsgId);  -->
    <select id="getEquipmentMsgById" resultType="equipmentMsg">
        select * from yd_sold_note.yd_receipts_equipment_msg where id = #{id}
    </select>

    <!--  List<InventoryMsg> getInventoryMsgByListIds(@Param("ids") List<Integer> ids);  -->
    <select id="getInventoryMsgByListIds" resultType="inventoryMsg">
        select * from yd_sold_note.yd_receipts_equipment_inventory where third_party_terrace_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")" index="index">
            #{id}
        </foreach>
    </select>

    <!--  List<TransferMsg> getTransferMsgByTPId(@Param("id") Integer id);  -->
    <select id="getTransferMsgByTPId" resultType="transferMsg">
        select * from yd_sold_note.yd_receipts_equipment_transfer_msg where request_user_id = #{id} or consignee_user_id = #{id}
    </select>

    <!--  List<TransferMsg> getTransferMsgByIds(@Param("ids")List<Integer> ids);  -->
    <select id="getTransferMsgByIds" resultType="transferMsg">
        select * from yd_sold_note.yd_receipts_equipment_transfer_msg where request_user_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")" index="index">
            #{id}
        </foreach>
        or consignee_user_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")" index="index">
            #{id}
        </foreach>
    </select>

    <!--  List<ChangeMsg> getChangeMsgById(@Param("id")Integer id);  -->
    <select id="getChangeMsgById" resultType="changeMsg">
        select * from yd_sold_note.yd_receipts_equipment_change_msg where third_party_terrace_id = #{id}
    </select>

    <!--  List<ChangeMsg> getChangeMsgByIds(@Param("ids")List<Integer> ids);  -->
    <select id="getChangeMsgByIds" resultType="changeMsg">
        select * from yd_sold_note.yd_receipts_equipment_change_msg where third_party_terrace_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")" index="index">
            #{id}
        </foreach>
<!--        or check_user_id in-->
<!--        <foreach collection="ids" item="id" open="(" separator="," close=")" index="index">-->
<!--            #{id}-->
<!--        </foreach>-->
    </select>

    <!--  List<MaintainMsg> getMaintainMsgByIds(List<Integer> ids);  -->
    <select id="getMaintainMsgByIds" resultType="maintainMsg">
        select * from yd_sold_note.yd_receipts_equipment_maintain_msg where request_user_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")" index="index">
            #{id}
        </foreach>
<!--        or consignee_user_id in-->
<!--        <foreach collection="ids" item="id" open="{" separator="," close=")" index="index">-->
<!--            #{id}-->
<!--        </foreach>-->
    </select>

    <!--  List<PurchaseMsg> getPurchaseMsgByIds(@Param("ids")List<Integer> ids);  -->
    <select id="getPurchaseMsgByIds" resultType="purchaseMsg">
        select * from yd_sold_note.yd_receipts_equipment_purchase_msg where purchase_user_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")" index="index">
            #{id}
        </foreach>
<!--        or consignee_user_id in-->
<!--        <foreach collection="ids" item="id" open="{" separator="," close=")" index="index">-->
<!--            #{id}-->
<!--        </foreach>-->
    </select>

    <!--  List<ScrapMsg> getScrapMsgByIds(@Param("ids")List<Integer> ids);  -->
    <select id="getScrapMsgByIds" resultType="scrapMsg">
        select * from yd_sold_note.yd_receipts_equipment_scrap_msg where request_user_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")" index="index">
            #{id}
        </foreach>
    </select>

    <!--  Integer insertEquipmentMsg(@Param("equipmentMsg") EquipmentMsg equipmentMsg);  -->
    <insert id="insertEquipmentMsg" useGeneratedKeys="true" keyProperty="id">
        insert into yd_sold_note.yd_receipts_equipment_msg (equipment_brand, equipment_type_num, size, status)
        values (#{equipmentMsg.equipmentBrand},#{equipmentMsg.equipmentTypeNum},#{equipmentMsg.size},#{equipmentMsg.status})
    </insert>


</mapper>
