<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydxsj.ydsoldnote.mapper.SellReceiptsMapper">

    <!--  List<CarReceipts> getCarReceipts();   -->
    <select id="getCarReceipts" resultType="carReceipts">
        select * from yd_receipts_car_receipts
    </select>

    <!--  Integer insertGatheringMsg(GatheringMsg gatheringMsg);  -->
    <insert id="insertGatheringMsg" useGeneratedKeys="true"  keyProperty="id" >
        insert into yd_sold_note.yd_receipts_gathering_msg (yd_gathering, third_party_gathering, gathering_status, gathering_user_id)
        values (#{gatheringMsg.ydGathering},#{gatheringMsg.thirdPartyGathering},#{gatheringMsg.gatheringStatus},#{gatheringMsg.gatheringUserId})
    </insert>

    <!--  Integer insertCarReceiots(@Param("carReceipts") CarReceipts carReceipts);  -->
    <insert id="insertCarReceiots" useGeneratedKeys="true" keyProperty="id">
        insert into yd_sold_note.yd_receipts_car_receipts
        (receipts_status,create_time,user_id,province,city,client_name,client_car_num,client_phone,car_brand,count,sell_type_name,addition_type,third_party_terrace_id,
        money,cash_pledge,predict_install_time,gathering_msg_id,gathering_type)
        values
        (#{carReceipts.receiptsStatus},#{carReceipts.createTime},#{carReceipts.userId},#{carReceipts.province},#{carReceipts.city},#{carReceipts.clientName},
        #{carReceipts.clientCarNum},#{carReceipts.clientPhone},#{carReceipts.carBrand},#{carReceipts.count},#{carReceipts.sellTypeName},#{carReceipts.additionType},
        #{carReceipts.thirdPartyTerraceId},#{carReceipts.money},#{carReceipts.cashPledge},#{carReceipts.predictInstallTime},#{carReceipts.gatheringMsgId},#{carReceipts.gatheringType})
    </insert>

    <!--  List<CarReceipts> getCarReceiptsByProvince(@Param("provinces") List<String> provinces);   -->
    <select id="getCarReceiptsByProvince" resultType="carReceipts">
        select * from yd_sold_note.yd_receipts_car_receipts where province in
        <foreach collection="provinces" item="province" open="(" separator="," close=")" index="index" >
            #{province}
        </foreach>
        order by create_time desc
    </select>

    <!--  GatheringMsg getGatheringMsgById(@Param("gatheringMsgId") Integer gatheringMsgId);  -->
    <select id="getGatheringMsgById" resultType="gatheringMsg">
        select * from yd_sold_note.yd_receipts_gathering_msg where id = #{gatheringMsgId}
    </select>

    <!-- List<CarReceipts> getCarReceiptsByStatus(@Param("i") int i,@Param("id") Integer id);   -->
    <select id="getCarReceiptsByStatus" resultType="carReceipts">
        select * from yd_sold_note.yd_receipts_car_receipts where receipts_status &lt;= #{i} and user_id = #{id}
    </select>

    <!--  List<CarReceipts> getCarReceiptsByStatusOfTH(int i, Integer id);  -->
    <select id="getCarReceiptsByStatusOfTH" resultType="carReceipts">
        select * from yd_sold_note.yd_receipts_car_receipts where receipts_status = #{i} and third_party_terrace_id = #{id}
    </select>

    <!--  CarReceipts getCarReceiptsById(Integer id);  -->
    <select id="getCarReceiptsById" resultType="carReceipts">
        select * from yd_sold_note.yd_receipts_car_receipts where id = #{id}
    </select>

    <!-- Integer updateCheckTime(@Param("carReceipts") CarReceipts carReceipts,@Param("type") String type);  -->
    <update id="updateCheckTime">
        update yd_sold_note.yd_receipts_car_receipts
        <set>
            <if test="type == 'reachCheck' and carReceipts.receiptsReachCheck != null" >
            receipts_reach_check = #{carReceipts.receiptsReachCheck},receipts_status = #{carReceipts.receiptsStatus}
            </if>
            <if test="type == 'installCheck' and carReceipts.third_party_check_time != null" >
            third_party_check_time = #{carReceipts.thirdPartyCheckTime},receipts_status = #{carReceipts.receiptsStatus}
            </if>
            <if test="type == 'gatheringCheck' ">
            receipts_status = #{carReceipts.receiptsStatus}
            </if>
        </set>
        where id = #{carReceipts.id}
    </update>

    <!-- Integer insertImageUrl(@Param("imageUrl") ImageUrl imageUrl);  -->
    <insert id="insertImageUrl" useGeneratedKeys="true" keyProperty="id">
        insert into yd_sold_note.yd_receipts_image_url (msg_id, url) values (#{imageUrl.msgId},#{imageUrl.url})
    </insert>

    <!--  Integer updateGatherimgMsg(@Param("gatheringMsg") GatheringMsg gatheringMsg);  -->
    <update id="updateGatherimgMsg" >
        update yd_sold_note.yd_receipts_gathering_msg set
        gathering_check_time = #{gatheringMsg.gatheringCheckTime},text = #{gatheringMsg.text} where id = #{gatheringMsg.id}
    </update>

    <!-- List<CarReceipts> getCarReceiptsByTPId(@Param("id") Integer id);   -->
    <select id="getCarReceiptsByTPId" resultType="carReceipts">
        select * from yd_sold_note.yd_receipts_car_receipts where third_party_terrace_id = #{id} order by create_time desc
    </select>

    <!--  List<CarReceipts> getCarReceiptsByCreateId(@Param("id")Integer id);  -->
    <select id="getCarReceiptsByCreateId" resultType="carReceipts">
        select * from yd_sold_note.yd_receipts_car_receipts where user_id = #{id} order by create_time desc
    </select>

    <!--  Integer updateCarReceiptsStatus(@Param("carReceipts") CarReceipts carReceipts);  -->
    <update id="updateCarReceiptsStatus" useGeneratedKeys="true">
        update yd_sold_note.yd_receipts_car_receipts set
        receipts_status = #{carReceipts.receiptsStatus} , cancellation_time = #{carReceipts.cancellationTime} where id = #{carReceipts.id}
    </update>

    <!--  List<ImageUrl> getImageUrls(@Param("id") Integer id);  -->
    <select id="getImageUrls" resultType="imageUrl">
        select * from yd_sold_note.yd_receipts_image_url where msg_id = #{id}
    </select>

    <!--     List<CarReceipts> searchCarReceipts(@Param("users") List<User> users, @Param("tpId") Integer tpId, @Param("startingDate") String startingDate, @Param("endDay") String endDay, @Param("clientName") String clientName, @Param("clientCarNum") String clientCarNum);  -->
    <select id="searchCarReceipts" resultType="carReceipts">
        select * from yd_sold_note.yd_receipts_car_receipts
        <where>
            <if test="users != null">
                user_id in
                <foreach collection="users" item="user" open="(" separator="," close=")" index="index" >
                    #{user.id}
                </foreach>
            </if>
            <if test="tpId != null and tpId != '' ">
                and third_party_terrace_id = #{tpId}
            </if>
            <if test="startingDate != null and startingDate != '' ">
                and create_time &gt; #{startingDate}
            </if>
            <if test="endDay != null and endDay != '' ">
                and create_time &lt; #{endDay}
            </if>
            <if test="clientName != null and clientName != ''">
                and client_name = #{clientName}
            </if>
            <if test="clientCarNum != null and clientCarNum != ''">
                and client_car_num = #{clientCarNum}
            </if>
        </where>
    </select>


</mapper>
